*,*::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	display: grid;
	grid-template-areas: 
		"fejlec"
		"main"
		"labjegyzet"
	;
	grid-template-rows: max-content 1fr max-content;
	min-height: 100vh;

}
img{
max-width: 100%;
	}
header{
	grid-area: fejlec;
}
main{
	background-color: rgba(111,233,238,0.3);
	grid-area: main;
}
footer{
	background-color: rgba(111,233,238,0.3);
	grid-area: labjegyzet;
}
.nev{
	color: green;
	font-size: 2em;
	padding-top: 30vh;
	padding-left: 30vw;
}
.portfol{
	color: blue;
	font-size: 5em;
	text-align: center;
}
header span{
	color: blue;
}
.most span{
	color: red;
}
.kiemelt1{
	color: red;
	font-size: 2em;
}
footer{
	padding-left: 20px;
	padding-bottom: 10px;
	color: blue;
}
.jellemzes{
	font-size: 1.3em;
	color: black;
	text-align: justify;
	padding-top: 35px;
	padding-left: 40vw;
	padding-right: 40vw;
}
.kieg{
	width: 40%;
    height: auto;
    object-fit: fill;
    cursor: pointer;
    top: 0px;
    right: 0px;
    position: static;
    z-index: 2;
    align-content: center;
    margin: 20px;
}
